###############################################################################
# Normalize line endings
###############################################################################
* text=auto

###############################################################################
# Treat solution + project files as binary (prevents merge corruption)
###############################################################################
*.sln merge=binary
*.csproj merge=binary

###############################################################################
# Treat asset bundles + Unity resources as binary
###############################################################################
*.bundle binary
*.unity3d binary
*.manifest binary
*.asset binary
*.resS binary
*.fn binary

###############################################################################
# Treat images as binary
###############################################################################
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

###############################################################################
# Treat DLLs as binary
###############################################################################
*.dll binary
*.exe binary

###############################################################################
# Treat audio files as binary
###############################################################################
*.wav binary
*.mp3 binary
*.ogg binary

###############################################################################
# Treat fonts as binary
###############################################################################
*.ttf binary
*.otf binary
